// reset
button,
input {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;

    /* Browsers have different default form fonts */
    font-size: 13px;
    font-family: Arial;
}

a {
    color: #55b0ff;
}

.b {
    margin-bottom: 8px;
}

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// reset ng-virtual-list-item styles
.list::part(item) {
    background-color: unset;
}

.vl-section {
    padding: 0 20px;
    margin-bottom: 24px;
    width: calc(100% - 40px);
    max-width: 640px;
    color: #8280af;

    .expression {
        border-radius: 4px;
        padding: 0px 4px;
        background-color: rgba(255, 255, 255, .1);
    }

    &.bt {
        margin-bottom: 6px;
    }

    .code {
        position: relative;
        background-color: #443b53;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        padding: 0 16px 12px 16px;
        color: #b1b3b5;
        font-family: monospace;
        margin-bottom: 12px;

        .head {
            padding: 8px 0;
            color: #897b9f;
            text-transform: uppercase;
        }
    }

    &.cap {
        margin-bottom: 24px;

        .logo {
            width: 100%;
        }

        .version {
            color: #342c4b;
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.5px;
            font-weight: 800;
            width: 100%;

            &>span {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__container {
        width: 100%;

        &>h2 {
            color: #8280af;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.5px;
            font-weight: 800;
        }

        margin-bottom: 18px;
    }

    &>h1 {
        background: -webkit-linear-gradient(0deg, #6f00e2 0%0%, #6f00e2 30%, #f90058 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 19px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;
        margin-bottom: 9px;

        &.center {
            width: 100%;
            text-align: center;
        }
    }

    &>p {
        &.l {
            color: #3e345b;
            background: unset;
            width: 100%;
            letter-spacing: 2px;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            margin-bottom: 0px;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: initial;

            &.m {
                color: #342c4b;
                margin-bottom: 20px;
            }
        }

        background: -webkit-linear-gradient(0deg, #6f00e2 0%0%, #6f00e2 30%, #f90058 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
    }

    &.block {
        padding: 20px 20px 4px;
    }

    .scroll-to__controls {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
        margin-bottom: 8px;

        .scroll-to__input {
            outline: none;
            background-color: #362b47;
            color: #9c8dbd;
            border-radius: 3px;
            box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.075);
            border: 1px solid #7b728f;
            min-height: 24px;
            padding: 0 6px;

            &:focus,
            &:active {
                border: 1px solid rgb(170, 131, 71);
            }
        }

        .scroll-to__button {
            background-color: #37265f;
            padding: 0 8px;
            border-radius: 3px;
            box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.075);
            color: #9c8dbd;
            text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 11px;
            font-weight: 800;

            &:hover {
                background-color: #264c6e;
            }
        }
    }
}

.list-gallery {
    &::part(item-fx-odd) {
        background-color: #8129a3;
    }

    &::part(item-fx-even) {
        background-color: #5c5cd9;
    }

    &::part(item) {
        border-radius: 3px;
    }

    &.visible {
        opacity: 1;
        transition: opacity 250ms ease-out;
    }
}

.list {
    border-radius: 3px;

    &::part(item-selected) {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, .15);
    }

    &::part(viewport) {
        color: #e1dceb;
    }

    &.horizontal {
        &::part(viewport) {
            background: -webkit-linear-gradient(0deg, rgb(78 71 97) 0%, rgb(108 99 133) 50%, rgb(78 71 97) 100%);
        }
    }

    &.vertical {
        &::part(viewport) {
            background: -webkit-linear-gradient(90deg, rgb(78 71 97) 0%, rgb(108 99 133) 50%, rgb(78 71 97) 100%);
        }
    }

    &__container {
        cursor: pointer;
        user-select: none;
        word-break: break-all;
        height: 50px;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #40374e49;
        }

        &.selected {
            background-color: #8129a3;
        }

        &>* {
            height: auto;
        }
    }

    &-gallery__container {
        cursor: pointer;
        user-select: none;
        word-break: break-all;
        height: 100%;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-break: keep-all;

        &>* {
            height: auto;
        }
    }

    &__h-container {
        cursor: pointer;
        user-select: none;
        word-break: break-all;
        height: 100%;
        padding: 0 8px;
        background-color: #443b5321;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;

        &.even {
            background-color: #49405800;
        }

        &:hover {
            background-color: #40374e49;
        }

        &.selected {
            background-color: #8129a3;
        }

        &>* {
            height: auto;
        }
    }

    &-split__container {
        cursor: pointer;
        user-select: none;
        word-break: break-all;
        height: 100%;
        width: 100%;
        padding: 6px 12px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-break: keep-all;
        overflow: hidden;

        &>* {
            height: auto;
            overflow: hidden;
        }
    }

    &.vertical {
        max-height: unset;
        height: 300px;
        width: 100%;
    }

    &.horizontal {
        max-width: unset;
        height: 60px;
        width: 100%;
    }

    &.transpanent {
        background: unset;
        border: unset;

        &::part(viewport) {
            background: unset;
        }
    }
}

.list-gallery-3d {
    &::part(scroller) {
        position: relative;
    }

    &::part(list) {
        perspective: 150000px;
    }

    &::part(item-transformer) {
        transform-style: preserve-3d;
    }

    &::part(item-fx-selected) {
        outline: none;
        border: 2px solid #a9a9ff;
    }
}

.list-divided {
    &::part(item-fx) {
        overflow: hidden;
    }

    &::part(item-fx-selected) {
        outline: none;
        border: 2px solid #a9a9ff;
    }

    &::part(item-odd item-row-odd) {
        background-color: #4940587a;
    }

    &::part(item-odd item-row-even) {
        background-color: #443b5380;
    }

    &::part(item-even item-row-odd) {
        background-color: #443b537e;
    }

    &::part(item-even item-row-even) {
        background-color: #4940587c;
    }
}