<div class="vl-section">
  <div class="vl-section__container">
    <h2>Fixed item sizes</h2>
    <ng-virtual-list #list class="list list-gallery list-gallery-3d transpanent" direction="horizontal" [items]="items"
      [bufferSize]="5" [maxBufferSize]="5" selectingMode="select" [selectedIds]="listSelectedIds"
      [selectByClick]="false" spreadingMode="infinity" [itemRenderer]="itemRendererGallery" [dynamicSize]="false"
      [minItemSize]="150" alignment="center" [motionBlurEnabled]="motionBlurEnabled" [motionBlur]="0.005"
      [maxMotionBlur]="0.05" [snapToItem]="true" [itemTransform]="deckOfCards3D"
      (onSnapItem)="onSnapItemHandler($event)"></ng-virtual-list>
  </div>
</div>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>Dynamic item sizes</h2>
    <ng-virtual-list #list1 class="list list-gallery list-gallery-3d transpanent" direction="horizontal"
      [items]="itemsDynamic" [bufferSize]="3" [maxBufferSize]="3" selectingMode="select"
      [selectedIds]="list1SelectedIds" [selectByClick]="false" spreadingMode="infinity"
      [itemRenderer]="itemRendererGallery" alignment="center" [motionBlurEnabled]="motionBlurEnabled"
      [motionBlur]="0.005" [maxMotionBlur]="0.05" [snapToItem]="true" [itemTransform]="deckOfCards3D"
      (onSnapItem)="onSnapItem1Handler($event)"></ng-virtual-list>
  </div>
</div>

<ng-template #itemRendererGallery let-data="data" let-config="config" let-api="api">
  @if (data) {
  <div [ngClass]="{'list-gallery__container': true, 'even': config.even, 'selected': config.selected}"
    (onVirtualClick)="api.select(data.id, true)">
    <span>{{data.name}}</span>
  </div>
  }
</ng-template>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>Infinite horizontal list with the ability to select one item</h2>
    <ng-virtual-list #list2 class="list" direction="horizontal" [motionBlurEnabled]="motionBlurEnabled" [items]="items"
      [bufferSize]="3" [maxBufferSize]="3" selectingMode="select" [itemRenderer]="horizontalItemRenderer"
      [dynamicSize]="false" [minItemSize]="100" spreadingMode="infinity" [snapToItem]="true"
      (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [selectedIds]="list2SelectedIds"
      [selectByClick]="false" [scrollbarThickness]="6" (onScrollReachStart)="onScrollReachStartHandler()"
      (onScrollReachEnd)="onScrollReachEndHandler()" (onSnapItem)="onSnapItem2Handler($event)"></ng-virtual-list>
  </div>
</div>

<ng-template #horizontalItemRenderer let-data="data" let-config="config" let-api="api">
  @if (data) {
  <div virtualClick [ngClass]="{'list__h-container': true, 'even': config.even, 'selected': config.selected}"
    (onVirtualClick)="api.select(data.id, true)">
    <span>{{data.name}}</span>
  </div>
  }
</ng-template>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>Vertical infinite list with separation</h2>
    <ng-virtual-list #dl2List class="list list-divided" [items]="items1" selectingMode="select" spreadingMode="infinity"
      [itemRenderer]="itemRendererSplit" [bufferSize]="2" [maxBufferSize]="2" [dynamicSize]="true"
      (onItemClick)="onItemClick($event)" [divides]="2" [scrollbarThumbRenderer]="customScrollBarThumb"
      [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6" [snapToItem]="true"
      snapToItemAlign="start" [motionBlurEnabled]="motionBlurEnabled" (onSelect)="onSelectHandler($event)"
      (onScrollReachStart)="onScrollReachStartHandler()"
      (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
  </div>
</div>

<ng-template #itemRendererSplit let-data="data" let-config="config" let-api="api">
  @if (data) {
  <div [ngClass]="{'list-split__container': true, 'even': config.even, 'selected': config.selected}"
    (onVirtualClick)="api.select(data.id, true)">
    <span>{{data.name}}</span>
  </div>
  }
</ng-template>

<ng-template #customScrollBarThumb let-api="api" let-width="width" let-height="height" let-fillPositions="fillPositions"
  let-params="params">
  <custom-scrollbar [api]="api" [width]="width" [height]="height" [fillPositions]="fillPositions"
    [params]="params"></custom-scrollbar>
</ng-template>

<div class="invisible">
  <audio #audioSnap [controls]="false" [autoplay]="false">
    <source src="snap.mp3" type="audio/ogg">
  </audio>
</div>