  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Horizontal list with single select option</h2>
      <ng-virtual-list class="list" direction="horizontal" [items]="horizontalItems" [bufferSize]="1" [maxBufferSize]="5"
        methodForSelecting="select" [itemRenderer]="horizontalItemRenderer" [dynamicSize]="false" [itemSize]="54"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [motionBlurEnabled]="motionBlurEnabled"
        (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [selectedIds]="2" [selectByClick]="true"
        [scrollbarEnabled]="false" [scrollbarThickness]="6" (onScrollReachStart)="onScrollReachStartHandler()" 
        (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
    </div>
  </div>

  <ng-template #horizontalItemRenderer let-data="data" let-config="config">
    @if (data) {
      <div [ngClass]="{'list__h-container': true, 'even': config.even, 'selected': config.selected}">
        <span>{{data.name}}</span>
      </div>
    }
  </ng-template>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Horizontal list with multiple selection options</h2>
      <div class="scroll-to__controls">
        <input type="number" class="scroll-to__input" [(ngModel)]="itemsLength" [required]="true" [min]="0"
          [max]="100000">
        <button class="scroll-to__button" (click)="onButtonChangeItemsLengthHandler()">setup</button>
      </div>
      <ng-virtual-list class="list" [items]="items1" methodForSelecting="multi-select"  [itemRenderer]="itemRenderer" [bufferSize]="1" [maxBufferSize]="5"
        [dynamicSize]="false" [itemSize]="40" (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [selectedIds]="[3,2]"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6"
        [motionBlurEnabled]="motionBlurEnabled" (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Vertical virtual list with right-to-left direction</h2>
      <ng-virtual-list class="list" langTextDir="rtl" [items]="itemsRtl" methodForSelecting="multi-select"  [itemRenderer]="itemRenderer" [bufferSize]="1" [maxBufferSize]="5"
        [dynamicSize]="false" [itemSize]="40" (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [selectedIds]="[3,2]"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6"
        [motionBlurEnabled]="motionBlurEnabled" (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
    </div>
  </div>

  <ng-template #itemRenderer let-data="data" let-config="config">
    @if (data) {
      <div [ngClass]="{'list__container': true, 'even': config.even, 'selected': config.selected}">
        <span>{{data.name}}</span>
      </div>
    }
  </ng-template>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Scroll to item</h2>
      <div class="scroll-to__controls">
        <input type="number" class="scroll-to__input" [(ngModel)]="itemId" [required]="true" [min]="minId"
          [max]="maxId">
        <button class="scroll-to__button" (click)="onButtonScrollToIdClickHandler($event)">Scroll</button>
      </div>
      <ng-virtual-list #virtualList class="list" [items]="items" [itemRenderer]="itemRenderer" [bufferSize]="5"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6"
        [dynamicSize]="false" [itemSize]="40" (onItemClick)="onItemClick($event)" (onScrollReachStart)="onScrollReachStartHandler()"
        [motionBlurEnabled]="motionBlurEnabled" (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
    </div>
  </div>

  <ng-template #customScrollBarThumb let-api="api" let-width="width" let-height="height" let-fillPositions="fillPositions" let-params="params">
    <custom-scrollbar [api]="api" [width]="width" [height]="height" [fillPositions]="fillPositions" [params]="params"></custom-scrollbar>
    </ng-template>

