<div class="vl-section">
  <div class="vl-section__container">
    <h2>A horizontal list anchored to an item whose size is equal to the size of the viewport</h2>
    <ng-virtual-list class="list swipe-list" direction="horizontal" [items]="horizontalItems" [bufferSize]="1" [maxBufferSize]="1"
      selectingMode="select" [itemRenderer]="horizontalItemRenderer" [dynamicSize]="false" [itemSize]="'viewport'"
      [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [motionBlurEnabled]="motionBlurEnabled"
      (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [selectByClick]="true" [scrollbarEnabled]="false" 
      [scrollbarThickness]="6" [snapToItem]="true" snapToItemAlign="center" (onScrollReachStart)="onScrollReachStartHandler()"
      (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
  </div>
</div>

<ng-template #horizontalItemRenderer let-data="data" let-config="config">
  @if (data) {
    <div [ngClass]="{'swipe-list__container': true, 'even': config.even, 'selected': config.selected}">
      <span>{{data.name}}</span>
    </div>
  }
</ng-template>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>A vertical virtual list box anchored to an item whose size matches the viewport size</h2>
    <div class="scroll-to__controls">
      <input type="number" class="scroll-to__input" [(ngModel)]="itemsLength" [required]="true" [min]="0"
        [max]="100000">
      <button class="scroll-to__button" (click)="onButtonChangeItemsLengthHandler()">setup</button>
    </div>
    <ng-virtual-list class="list swipe-list" [items]="items1" selectingMode="multi-select"  [itemRenderer]="itemRendererGallery" [bufferSize]="1" [maxBufferSize]="1"
      [dynamicSize]="false" [itemSize]="'viewport'" (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)"
      [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6"
      [snapToItem]="true" snapToItemAlign="center" [motionBlurEnabled]="motionBlurEnabled" (onScrollReachStart)="onScrollReachStartHandler()"
      (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
  </div>
</div>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>A vertical virtual list with anchored items, item size equal to the viewport, and scrolling by one item</h2>
    <div class="scroll-to__controls">
      <input type="number" class="scroll-to__input" [(ngModel)]="itemsLength" [required]="true" [min]="0"
        [max]="100000">
      <button class="scroll-to__button" (click)="onButtonChangeItemsLengthHandler()">setup</button>
    </div>
    <ng-virtual-list class="list swipe-list" [items]="items1" selectingMode="multi-select"  [itemRenderer]="itemRendererGallery" [bufferSize]="1" [maxBufferSize]="1"
      [dynamicSize]="false" [itemSize]="'viewport'" (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [motionBlurEnabled]="motionBlurEnabled"
      [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6"
      [snapToItem]="true" snapToItemAlign="center" [scrollingOneByOne]="true" (onScrollReachStart)="onScrollReachStartHandler()"
      (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
  </div>
</div>

<ng-template #itemRendererGallery let-data="data" let-config="config">
  @if (data) {
    <div [ngClass]="{'swipe-list__container': true, 'even': config.even, 'selected': config.selected}">
      <span>{{data.name}}</span>
    </div>
  }
</ng-template>

<ng-template #customScrollBarThumb let-api="api" let-width="width" let-height="height" let-fillPositions="fillPositions" let-params="params">
  <custom-scrollbar [api]="api" [width]="width" [height]="height" [fillPositions]="fillPositions" [params]="params"></custom-scrollbar>
</ng-template>