<div class="vl-section bt">
  <a href="https://github.com/DjonnyX/ng-virtual-list-code-examples/tree/main/pages/dynamic-list">code example</a>
</div>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>List with dynamic content elements</h2>
    <div class="scroll-to__controls">
      <input type="number" class="scroll-to__input" [(ngModel)]="dlItemId" [required]="true" [min]="minDlId"
        [max]="maxDlId">
      <button class="scroll-to__button" (click)="onButtonScrollDLToIdClickHandler($event)">Scroll</button>
    </div>
    <ng-virtual-list #dynamicList class="list" [items]="groupDynamicItems" [itemRenderer]="groupItemRenderer"
      [bufferSize]="3" [maxBufferSize]="3" [itemConfigMap]="groupDynamicItemsStickyMap" [stickyEnabled]="true"
      [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
      [scrollbarThickness]="6" [scrollingSettings]="scrollingSettings" (onViewportChange)="onViewportChangeHandler($event)"
      (onItemClick)="onItemClick($event)" (onScrollReachStart)="onScrollReachStartHandler()"
      [motionBlurEnabled]="motionBlurEnabled" (onScrollReachEnd)="onScrollReachEndHandler()"></ng-virtual-list>
  </div>
</div>

<div class="vl-section">
  <div class="vl-section__container">
    <h2>List with dynamic content elements that offers multiple choices and a dynamic collection</h2>
    <div class="scroll-to__controls">
      <input type="number" class="scroll-to__input" [(ngModel)]="dynamicItemsLength" [required]="true" [min]="0"
        [max]="100000">
        <button class="scroll-to__button" (click)="onButtonChangeDynamicItemsLengthHandler()">setup</button>
    </div>
    <ng-virtual-list #dynamicItemsList class="list" [items]="dynamicItems" methodForSelecting="multi-select" [itemRenderer]="itemRenderer" [bufferSize]="2" [maxBufferSize]="2"
      [itemSize]="40" (onItemClick)="onItemClick($event)" (onSelect)="onSelectHandler($event)" [selectedIds]="[3,2]"
      [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams" [scrollbarThickness]="6"
      [motionBlurEnabled]="motionBlurEnabled" (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()" [snapScrollToStart]="true"></ng-virtual-list>
  </div>
</div>

<ng-template #itemRenderer let-data="data" let-config="config">
  @if (data) {
    <div [ngClass]="{'list__container': true, 'even': config.even, 'selected': config.selected}">
      <span>{{data.name}}</span>
    </div>
  }
</ng-template>

<ng-template #groupItemRenderer let-data="data" let-config="config">
  @if (data) {
    @switch (data.type) {
      @case ("group-header") {
        <div [ngClass]="{'list__group-container': true, 'even': config.even, 'selected': config.selected}">
          <span>{{data.name}}</span>
        </div>
      }
      @default {
        <div [ngClass]="{'list__container': true, 'even': config.even, 'selected': config.selected}">
          <span>{{data.name}}</span>
        </div>
      }
    }
  }
</ng-template>

<ng-template #customScrollBarThumb let-api="api" let-width="width" let-height="height" let-fillPositions="fillPositions" let-params="params">
  <custom-scrollbar [api]="api" [width]="width" [height]="height" [fillPositions]="fillPositions" [params]="params"></custom-scrollbar>
  </ng-template>

